html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #163a81;
	color: #c2c22a;
}

.container {
	margin-top: 50px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

form * {
	display: inline-block;
	margin : 20px 0;
}

img {
	text-align: center;
	height: 300px;
}
.competence{
	display: block;
	text-align: center;
	margin:auto;
	width: 256px;
	height: 256px;
	position: relative;
}
.contact{
	display: inline-block;
}
/*element.style {
    width: 256px;
    height: 256px;
    position: relative;
}*/
